.green-border-with-padding {
    border: 10px solid green;
    padding: 5px;
    text-align: center;
}

#rounded-border-title-element
{
  border-radius: 20px;
}

.trebuchet-font
{
    font-family: 'Trebuchet MS';
}

.parent-div p
{
    border: 5px solid green;
}